<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quotes App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="quotes.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- TODO: Use production version in final version -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>
  <div id="app">
    <h2 class="title">Quotes App</h2>

    <div>
      <button
        v-for="theme in themes"
        v-on:click="updateSelectedTheme(theme.value)">
        {{ theme.text }}
      </button>
    </div>

    <div>
      <input
        v-model="searchInput"
        v-on:input="resetPage"
        type="text"
        placeholder="Search"
        class="search-input" />
    </div>

    <ul>
      <li
        v-for="(quote, index) in paginate(quotes)"
        v-bind:key="index">
        <p>{{ quote.quote }}</p>
        <p>- {{ quote.source }} from {{ quote.context }}</p>
      </li>
    </ul>

    <div v-if="quotesUnavailable">
      {{ quotesUnavailableMessage }}
    </div>

    <div v-if="shouldPaginate">
      <button v-on:click="resetPage"><<</button>
      <button v-on:click="prevPage"><</button>
      {{ currentPage }} of {{ numPages }}
      <button v-on:click="nextPage">></button>
      <button v-on:click="currentPage = numPages">>></button>
    </div>
  </div>

  <script src="src/app.js"></script>
</body>
</html>