<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quotes App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="quotes.css">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro" rel="stylesheet">
  <!-- production version, optimized for size and speed -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
    <h2 class="title">Quotes App</h2>

    <div class="theme-select">
      <button
        v-for="theme in themes"
        v-on:click="updateSelectedTheme(theme.value)"
        v-bind:class="[selectedTheme === theme.value ? 'active' : '']">
        {{ theme.text }}
      </button>
    </div>

    <div class="search">
      <input
        v-model="searchInput"
        v-on:input="resetPage"
        type="text"
        placeholder="Search"
        class="search-input" />
    </div>

    <div v-if="shouldPaginate" class="pager">
      <button v-on:click="resetPage"><<</button>
      <button v-on:click="prevPage"><</button>
      <p class="pager-numbers">{{ currentPage }} / {{ numPages }}</p>
      <button v-on:click="nextPage">></button>
      <button v-on:click="currentPage = numPages">>></button>
    </div>

    <ul>
      <li
        v-for="(quote, index) in paginate(quotes)"
        v-bind:key="index"
        class="quote">
        <p class="quote-text">{{ quote.quote }}</p>
        <p class="quote-attribution">{{ quote.source }} - {{ quote.context }}</p>
      </li>
    </ul>

    <div v-if="quotesUnavailable" class="no-quotes">
      {{ quotesUnavailableMessage }}
    </div>
  </div>

  <script src="src/app.js"></script>
</body>
</html>